.contact-body {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.contact-body textarea {
  height: auto;
  min-height: 120px;
  flex-grow: 1;
}

.contact-form input,
.contact-form textarea {
  padding: 0.6rem;
  border: none;
  border-radius: 6px;
  margin-bottom: 0.5rem;
  width: 100%;
  box-sizing: border-box;
  color: rgba(29, 27, 27, 0.8);
  font: 1em sans-serif;
}
.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: rgba(29, 27, 27, 0.5);
}

 .contact-submit-btn {
  background: #fb8f61;
  padding: 0.6rem;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  width: 100%;
  height: max-content;
}

.mailing-list {
  margin: 0 7px;
  display: flex;
  align-items: left;
  font: 10pt sans-serif;
  > .mailing-list-checkbox {
    margin-right: 8px;
    width: 16px;
    height: 16px;
    cursor: pointer;
  }
  > .mailing-list-label {
    font-size: .9rem;
    color: rgba(255,255,255,0.4);
    padding: 2px;
  }
}
.contact-submit-btn button:hover {
  background: rgba(255,255,255,0.4);
}
.contact-submit-btn button:active {
  background: rgba(255,255,255,0.6);
  transform: scale(0.95);
}