.marquee-container {
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  font-size: 0.8em;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.8);
  transform-origin: 50% 50%;
  border-radius: 10px;
  /* animation: reveal-scale-fade 360ms ease-out both; */
  animation: reveal-scale-fade 720ms ease-out 1400ms both;
  opacity: 0.5;
}

.marquee {
  display: inline-block;
  animation: scroll-left 77s linear infinite;
}

.marquee span {
  padding-left: 4px;
  padding-right: 50px;
}
